.c-packet {
	@extend %rel;
	
	&--01 {
		width: 855px;
		
		@media screen and ( max-width: $project + px ) {
			width: get-vw(855);
		}
		
		@media screen and ( max-width: $base + px ) {
			width: get-vw-base(855);
		}
	}
	
    &--01,
    &--02 {
	    padding: 70px 0;
	    
	    @media screen and ( max-width: $project + px ) {
	    	padding: get-vw(70) 0;
	    }
	}
    
    &--03 {
    	flex-wrap: wrap;
    	width: 100%;
    	
    	.c-packet__container {
    		width: 630px;
    		
	    	@media screen and ( max-width: $project + px ) {
				width: get-vw(630);
			}
			
			@media screen and ( max-width: 1200px ) {
				width: 100%;
			}
    	}    	
    }

    &--2cols {
	    @extend %flex;
    }
    
    &__content {
		display: flex;
	    align-items: center;
	    margin-bottom: 15px;
    }
    
    &__container {
		width: 100%;
	   // width: 810px;
	    
	    @media screen and ( max-width: $base + px ) {
	    	//width: grid(810);
	    }
    }
    
    &__description {
    	width: 840px;
    	text-transform: uppercase;
	    font: {
	    	size: em(27.64);
	    	weight: $bold;
	    }
	    
	    @media screen and ( max-width: $base + px ) {
	    	width: grid(840);
	    	margin-bottom: 20px;
	    	font-size: get-vw(27);
	    }
	    
    }
    
	&__arrow {
		@extend %flex;
		align-items: center;
	    justify-content: flex-end;
	    padding-right: 20px;
		//width: 210px;
		height: 110px;
		background-color: $c-red;
		padding-left: 60px;
		font-size: em(80);
		color: white;

	}
	
	&__cta {
		@extend %flex;
	    justify-content: flex-end;
		
		.o-btn {
			justify-content: center;
			//width: 200px;
			height: 42px;
			font-size: 17px;
			font-weight: $extrabold;
			
			 @media screen and ( max-width: $base + px ) {
		    	font-size: get-vw(17);
		    }
		}
	}
	
	&__info {
		flex-grow: 1;
		padding: 0 20px;
		color: $c-red;
		
		@media screen and ( max-width: $base + px ) {
	    	padding: 0 get-vw(20);
	    }
		
		p {
			font-size: em(29.17);
			
			@media screen and ( max-width: $base + px ) {
		    	font-size: get-vw(29);
		    }
		}
	}
	
	.firstline {
		font-weight: $medium;
	}
	
	.secondline {
		letter-spacing: 4px;
		
		strong {
			font-weight: $black;
			color: $c-blue;
		}
	}
	
	&__prices {
		@extend %flex;
		flex-wrap: wrap;
		align-content: center;
		width: 200px;
		height: 110px;
		background-color: $c-red;
		padding-left: 30px;
		
		 @media screen and ( max-width: $base + px ) {
	    	padding-left: get-vw(30);
	    }

		p {
			width: 100%;
			font: {
				size: em(25);
				weight: $bold;
			}
			color: white;
			
			 @media screen and ( max-width: $base + px ) {
		    	font-size: get-vw(25);
		    }
		}
	}
}
