
.c-section {
	@extend %rel;
	background: {
		size: cover;
		repeat: no-repeat;
		position: center;
	}
	margin: 0 auto;
	max-width: 1920px;	
	
	sup {
		text-transform: uppercase;
		font-weight: $medium;
		
		@media screen and ( max-width: $base + px ) {
			font-size: get-vw(21);
		}
	}
	
	&--02, &--04 {
		@extend %clear;
	}
	
	&--01 {		
		.o-bgfoto {
			display: block;
		}
		
		sup {
			font-size: em(21, 52);
		}
		
		.c-logo {
			@extend %anim;
			transform: translateY(-100%);
			border-left: 5px solid $c-blue;
			padding: 60px 0 0 15px;
			color: $c-gray--brighter;
			
			&__name {
				font-size: 22px;
			}
			
			
		}


		.o-copy {
			@extend %abs;
			top: 390px;
			right: 20px;
			
			@media screen and ( max-width: $project + px ) {
				top: get-vw(390);
			}
		}
		
		.title {
			line-height: 1.1;
			font: {
				size: em(52);
				weight: $light;
			}
			
			@media screen and ( max-width: $base + px ) {
				font-size: get-vw(52);
			}
		}		
	}
	
	&--02 {
		padding: 120px 146px 100px 0;
		
		@media screen and ( max-width: $project + px ) {
			//padding-top: get-vw(120);
			padding: get-vw(120) get-vw(146) get-vw(100) 0;
		}
		
		hr {
			margin-bottom: 40px;
			height: 2px;
			background-color: white;
			
			@media screen and ( max-width: $base + px ) {
				margin-bottom: get-vw(40);
			}
		}
		
		header {
			margin-bottom: 70px;

			@media screen and ( max-width: $base + px ) {
				margin-bottom: get-vw(70);
			}
		}
		
		.o-copy {
			float: right;
			width: 610px;
			
			@media screen and ( max-width: $project + px ) {
				width: get-vw(610);
			}
			//width: grid(611);
		}

		.title {
			font-weight: $light;
			line-height: 1;
			color: $c-blue;
			
			span {
				display: block;
			}
			
			.firstline {
				font-size: em(106);
				
				strong {
					font-weight: em(160, 106);
					color: white;
					
					@media screen and ( max-width: $project + px ) {
						font-size: get-vw(160);
					}
				}
				
				@media screen and ( max-width: $project + px ) {
					font-size: get-vw(106);
				}
			}
			
			.secondline {
				font-size: em(70);
				
				strong {
					font-weight: $black;
				}
				
				@media screen and ( max-width: $project + px ) {
					font-size: get-vw(70);
				}
			}
		}
		
		.text {
			margin-bottom: 40px;
			color: white;
			
			@media screen and ( max-width: $project + px ) {
				margin-bottom: get-vw(40);
			}

			&--1 {
				letter-spacing: 2px;
				font-size: em(26);
				
				@media screen and ( max-width: $project + px ) {
					font-size: get-vw(26);
				}
				
				strong {
					font-weight: $extrabold;
				}
			}
			
			&--2 {
				text-transform: uppercase;
				font: {
					size: em(31);
					weight: $bold;
				}
				
				@media screen and ( max-width: $project + px ) {
					font-size: get-vw(31);
				}
			}
		}
	}
	
	&--03 {
		@extend %clear;
		
		p {
			margin-bottom: 20px;
			letter-spacing: 3px;
			font-size: em(35);
			color: white;
			
			@media screen and ( max-width: $project + px ) {
				font-size: get-vw(35);
			}
		}

		.o-more {
			padding: {
				left: 980px;
				top: 30px;
			}
			
			@media screen and ( max-width: $project + px ) {
				padding: {
					left: get-vw(980);
					top: get-vw(30);
				}
			}
		}
		
		.o-copy {
			@extend %abs;
			bottom: 140px;
			left: 190px;
			//width: grid(1400);
			
			@media screen and ( max-width: $project + px ) {
				bottom: get-vw(140);
				left: get-vw(190);
			}
		}
		
		.title {
			text-transform: uppercase;
			font: {
				size: em(42);
				weight: $light;
			}
			color: $c-blue;
			
			@media screen and ( max-width: $project + px ) {
				font-size: get-vw(42);
			}
			
			strong {
				font-weight: $extrabold;
				color: white;
			}
			
			&--01 {
				margin-bottom: 15px;
				letter-spacing: 29px;	
				
				@media screen and ( max-width: $project + px ) {
					letter-spacing: get-vw(29);
				}				
			}
			
			&--02 {
				letter-spacing: 23px;				
				
				@media screen and ( max-width: $project + px ) {
					letter-spacing: get-vw(23);
				}
			}
		}		
	}
	
	&--04 {
		margin-bottom: 80px;
		
		@media screen and ( max-width: $project + px ) {
			margin-bottom: get-vw(80);
		}
		
		article {
			@extend %rel;
			padding-bottom: 180px;
			
			@media screen and ( max-width: $project + px ) {
				padding-bottom: get-vw(180);
			}
			
			&:after {
				@extend %abs-after;
				z-index: -1;
				right: 4%; bottom: -270px;
				width: 740px;
				height: 860px;
				background: {
					image: url(../img/assets/zero.png);
					size: cover;
				}
				
				@media screen and ( max-width: $project + px ) {
					bottom: get-vw(-270);
					width: get-vw(740);
					height: get-vw(860);
				}
			}
		}

		sup {
			font-size: em(21, 80);
		}
		
		.o-more {
			@extend %abs;
			//left: -100%;
			transform: translateX(calc(-115%));
		}
		
		.o-copy {
			float: right;
			width: 1035px;
			padding: 240px 150px 0 0;
			color: $c-black-brighter;
	
			@media screen and ( max-width: $project + px ) {
				width: get-vw(1035);
				padding: get-vw(240) get-vw(150) 0 0;
			}
		}

		.text {
			padding-bottom: 60px;
			
			@media screen and ( max-width: $project + px ) {
				padding-bottom: get-vw(60);
			}

			&--1 {
				font: {
					size: em(31);
					style: italic;
				}
				
				@media screen and ( max-width: $project + px ) {
					font-size: get-vw(31);
				}
			}
			
			&--2 {
				font: {
					size: em(27);
					weight: $medium;
				}
				
				@media screen and ( max-width: $project + px ) {
					font-size: get-vw(27);
				}
			}
		}
		
		.subtitle {
			margin-bottom: 80px;
			letter-spacing: 8px;
			text-transform: uppercase;
			font: {
				size: em(41);
				weight: $extrabold;
			}
			color: white;
			
			@media screen and ( max-width: $project + px ) {
				letter-spacing: get-vw(8);
				margin-bottom: get-vw(80);
				font-size: get-vw(41);
			}
		}
		
		.title {
			margin: 0 0 50px -240px;
			font: {
				size: em(80);
				weight: $medium;
			}
			line-height: 1;
			
			@media screen and ( max-width: $project + px ) {
				margin: 0 0 get-vw(50) get-vw(-240);
				font-size: get-vw(80);
			}
		}
	}
	
	&--05 {
		.cols {
			@extend %flex;
		}

		.col {
			@extend %rel;
			
			&--1 {
				.c-copy {
					@extend %abs;
					top: 0;
					right: 70px; z-index: 10;
					width: 730px;
					padding: 90px 80px 0 0;
					color: white;
					
					@media screen and ( max-width: $project + px ) {
						right: get-vw(70);
						width: get-vw(730);
						padding: get-vw(90) get-vw(80) 0 0; 
					}
					
					p {
						font: {
							size: em(32);
							weight: $semibold;
						}
						
						@media screen and ( max-width: $project + px ) {
							font-size: get-vw(32);
						}
					}
					
					strong {
						font-weight: $extrabold;
					}
					
					.title {
						margin-bottom: 10px;
						font: {
							size: em(55);
							weight: $black;
						}
						
						@media screen and ( max-width: $project + px ) {
							margin-bottom: get-vw(10);
							font-size: get-vw(55);
						}
					}
				}
			}
			
			&--2 {
				@extend %flex;
				align-items: flex-end;
				flex-wrap: wrap;
				
				.c-copy {
					position: absolute;
					width: 100%;
					left: 0; top: 0;
					padding: 160px 150px 0 70px;

					@media screen and ( max-width: $project + px ) {
						padding: get-vw(160) get-vw(150) 0 get-vw(70);
					}
					
					p {
						font-size: em(27);
						color: #282828;
						
						@media screen and ( max-width: $project + px ) {
							font-size: get-vw(27);
						}
					}

					.title {
						margin-bottom: 20px;
						font: {
							size: em(102);
							weight: $extrabold;
						}
						color: $c-blue;
						
						@media screen and ( max-width: $project + px ) {
							margin-bottom: get-vw(20);
							font-size: get-vw(102);
						}
					}
				}	
			}
		}
		
		.o-more {
			@extend %abs;
			bottom: 70px;			
			left: 317px;
			
			@media screen and ( max-width: $project + px ) {
				bottom: get-vw(70);
				left: get-vw(317);
				
			//	left: 1230px;
				
//				right: get-vw(395);
			}
			
		}
		
		.photo {
			@extend %rel;
		}
	}
	
	&--06 {		
		@media screen and ( max-width: $project + px ) {
			margin-bottom: get-vw(85);
		}
		
		strong {
			color: $c-blue;
		}
		
		sup {
			position: absolute;
			right: -80px;
			font-size: em(21, 85);
			
			@media screen and ( max-width: $project + px ) {
				right: get-vw(-80);
				font-size: get-vw(21);
			}
		}

		.o-copy {
			@extend %abs;

			&--01 {
				top: 195px;
				right: 700px;
				text-align: right;
				
				@media screen and ( max-width: $project + px ) {
					top: get-vw(195);
					right: get-vw(700);
				}
			}
			
			&--02 {
				right: 120px;
				width: 540px;
				text-align: left;
				font-size: em(25);
				font-weight: $light;
				color: white;
				
				@media screen and ( max-width: $project + px ) {
					width: get-vw(540);
					right: get-vw(120);
					bottom: get-vw(40);
					font-size: get-vw(25);
				}
			}
		}
		
		.title--01 {
			letter-spacing: 4px;
			font: {
				weight: $light;
				size: em(85);
			}
			
			@media screen and ( max-width: $base + px ) {
				font-size: get-vw(85);
			}
		
			strong {
				font-weight: $black;
			}
		}
		
		.title--02 {
			text-transform: uppercase;
			font-size: em(39);	
			
			@media screen and ( max-width: $base + px ) {
				font-size: get-vw(39);
			}		
		}		
	}
	
	&--07 {
		//margin-bottom: 100px;
	}
	
	&--08 {
		overflow: hidden;

		.o-copy {
			@extend %rel;
			top: -40px;
			
			@media screen and ( max-width: $project + px ) {
				top: get-vw(-40);
			}
		}
		
		

		p {
			line-height: .87;
			text-align: center;
			text-transform: uppercase;
			font-weight: $bold;
			color: white;
			
			&.firstline {
				font-size: em(507.31);
				
				@media screen and ( max-width: $project + px ) {
					font-size: get-vw(507);
				}
			}
			
			&.secondline {
				font-size: em(199.27);
				
				@media screen and ( max-width: $project + px ) {
					font-size: get-vw(199);
				}
			}
			
			&.thirdline {
				font-size: em(198.87);
				
				@media screen and ( max-width: $project + px ) {
					font-size: get-vw(198);
				}
			}
		}
	}
	
	&--09 {		
		.o-copy {
			@extend %abs;
			width: 100%;
			padding-left: 90px; bottom: 165px;
			
			@media screen and ( max-width: $project + px ) {
				padding-left: get-vw(90);
				bottom: get-vw(165);
			}
			
			.firstline {
				font: {
					size: em(83.16);
					weight: $bold;
				}
				color: white;
				
				@media screen and ( max-width: $project + px ) {
					font-size: get-vw(83);
				}
			}
			
			.secondline {
				font: {
					size: em(27.81);
					weight: $medium;
				}
				color: white;
				
				@media screen and ( max-width: $project + px ) {
					font-size: get-vw(27);
				}
			}
		}
		
		.o-more {
			@extend %abs;
			left: calc(51% );
			bottom: -20px;


			@media screen and ( max-width: $project + px ) {
				bottom: get-vw(-20);
			}
		}
	}
	
	&--10 {
		text-align: center;
	
		.highlight {
			@extend %rel;
			padding: 10px;
			text-transform: uppercase;
			background-color: $c-blue;
			font: {
				size: em(25);
				weight: $extrabold;
			}
			color: white;
			
			@media screen and ( max-width: $base + px ) {
				font-size: get-vw(25);
			}
			
			&:after {
				@extend %abs-after;
				left: 0; bottom: -1px;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 40px 0 0 50px;
				border-color: transparent transparent transparent white;
			}
		}

		.o-copy {
			@extend %abs-xy;
			width: 540px;
			transform: translate(-50%, -50%) !important;
			
			@media screen and ( max-width: $base + px ) {
				width: grid(540, 1920);
			}
			
			.title {
				margin-bottom: 30px;
				text-transform: uppercase;
				font: {
					size: em(39.72);
					weight: $black;
				}
				
				@media screen and ( max-width: $base + px ) {
					font-size: get-vw(39);
				}
			}
			
			p {
				margin-bottom: 1em;
				line-height: 1.2;
				font: {
					size: em(33.29);
					weight: $medium;
				}
				
				@media screen and ( max-width: $base + px ) {
					font-size: get-vw(33);
				}
			}
		}
		
		.o-more {
			@extend %abs;
			right: -300px;
			bottom: -200px;
			
			@media screen and ( max-width: $base + px ) {
				right: get-vw(-300);
				bottom: get-vw(-200);
			}
		}
	}

	&--10b {
		height: 330px;
		background-color: $c-blue;
		
		@media screen and ( max-width: $project + px ) {
			height: get-vw(330);
		}
		
		.o-copy {
			@extend %abs;
			left: 612px;
			border-left: 10px solid white;
			line-height: 1.2;
			padding: {
				left: 45px;
				top: 120px;
			}
			
			@media screen and ( max-width: $project + px ) {
				border-left-width: get-vw(10);
				left: get-vw(612);
				padding: {
					left: get-vw(45);
					top: get-vw(120);
				}
			}
			
			article {
				position: relative;
				bottom: -15px;
				
				@media screen and ( max-width: $project + px ) {
					bottom: get-vw(-15);
				}
			}
		}
		
		.firstline {
			font: {
				size: em(36.41);
				weight: $semibold;
			}
			color: white;
			
			@media screen and ( max-width: $project + px ) {
				font-size: get-vw(36);
			}
		}
		
		.secondline {
			font: {
				size: em(66.67);
				weight: $extrabold;
			}
			color: #333;
			
			@media screen and ( max-width: $project + px ) {
				font-size: get-vw(66);
			}
		}
	}
	
	&--11 {
		.o-copy {
			@extend %abs-y;
			left: calc(50% + 35px);
			width: 560px;
			height: 430px;
			
			@media screen and ( max-width: $project + px ) {
				left: 51.8%;
				width: get-vw(560);
				height: get-vw(430);
			}
			
		}

		.firstline {
			line-height: 1.2;
			font: {
				size: em(125);
				weight: $thin;
			}
			
			@media screen and ( max-width: $project + px ) {
				font-size: get-vw(125);
			}
		}
		
		.secondline {
			line-height: 1;
			font: {
				size: em(59.07);
				weight: $black;
			}
			color: #333;
			
			@media screen and ( max-width: $project + px ) {
				font-size: get-vw(59);
			}
		}
		
		.o-more {
			@extend %abs;
			right: 0; bottom: 0;
		}
	}
	
	&--12 {
		.c-packet {
			margin-bottom: 0;

			&:after {
				@extend %abs-after;
				left: -10px; top: 0;
				width: 10px; height: 255px;
				background-color: $c-blue;
			}
			
			&__content {
			    justify-content: space-between;
				width: 100%;
			}

			&__description {
				width: 100%;
				margin-bottom: 90px;
				padding-left: 30px;
				text-transform: none;
				letter-spacing: -1px;
				line-height: 1.2;
				font: {
					size: em(35.57);
					weight: $medium;
				}
				
				@media screen and ( max-width: $base + px ) {
					font-size: get-vw-base(35);
				}
			}
			
			&__info {
				width: 215px;

				@media screen and ( max-width: $base + px ) {
					width: grid(215);
			    }

				p {
					font-weight: $semibold;
				}
			}
			
			.middleline {
				@extend %flex;
			    align-items: center;
			}
		}		
		
		.left {
			@extend %abs;
			left: 188px;
			top: 225px;
			width: 650px;			
			
			@media screen and ( max-width: $project + px ) {
				top: get-vw(225);
				left: get-vw(188);
				width: get-vw(650);
			}
		}
		
		.right {
			@extend %abs;
			right: 120px;
			top: 260px;
			width: 800px;
			//overflow: hidden;
			
			@media screen and ( max-width: $project + px ) {
				top: get-vw(260);
				right: get-vw(120);
				width: get-vw(800);
			}
			
			.question-box {
				margin-bottom: 90px;
				line-height: 1.15;
				padding: 40px 0 0 80px;

				.answer {
					text-align: right;
					font: {
						size: em(138);
						weight: $black;
					}
					color: #444a4a;
					
					@media screen and ( max-width: $base + px ) {
				    	font-size: get-vw(138);
				    }
				}
				
				.question {
					font: {
						size: em(55);
						weight: $bold;
					}
					color: $c-blue;
					
					@media screen and ( max-width: $base + px ) {
				    	font-size: get-vw(55);
				    }
				}
			}
		}
	}
	
	&--13 {
		.o-copy {
			@extend %abs-y;
			padding-left: 160px;
			
			@media screen and ( max-width: $base + px ) {
				padding-left: get-vw-base(160);
			}
			
			
			.title {
				margin-bottom: 150px;
				font: {
					size: em(144.68);
					weight: $light;
				}
				color: white;

				strong {
					font-weight: $black;
				}
				
				@media screen and ( max-width: $base + px ) {
					margin-bottom: get-vw-base(150);
					font-size: get-vw-base(144);
				}
			}
			
			p {
				@extend %rel;
				width: 850px;
				margin-bottom: 20px;
				font: {
					size: em(29.17);
					weight: $medium;
				}
				color: #313232;
				
				@media screen and ( max-width: $base + px ) {
					width: grid(850);
					font-size: get-vw-base(29);
				}
				
				&.highlight {
					text: {
						align: right;
						transform: uppercase;
					}
					letter-spacing: 18px;
					font: {
						weight: $extrabold;
						size: em(33.33);
					}
					
					@media screen and ( max-width: $base + px ) {
						letter-spacing: get-vw-base(18);
						font-size: get-vw-base(33);
					}
					
					&:after {
						@extend %abs-after;
						right: 0; bottom: -5px;
						width: 296px;
						height: 4px;
						background-color: #313232;
						
						@media screen and ( max-width: $base + px ) {
							width: get-vw-base(296);
						}
					}
				}
			}
		}
	}
	
	&--14 {
		@extend %clear;
		border-top: 1px solid #b8ae99;

		.o-copy {
			float: left;
			width: 809px;
			padding: 190px 40px 0 120px;
			
			@media screen and ( max-width: $project + px ) {
				width: grid(809, $project);
				padding: get-vw(190) get-vw(40) 0 get-vw(120);
			}

			p {
				line-height: 2.1;
				margin-bottom: 20px;
				letter-spacing: 10px;
				text-transform: uppercase;
				font: {
					size: em(21.63);
					weight: $extrabold;
				}
				color: #313232;
				
				@media screen and ( max-width: $project + px ) {
					margin-bottom: get-vw(20);
					letter-spacing: get-vw(10);
					font-size: get-vw(21);
				}
			}
		}
		
		.how {
			text-transform: uppercase;
			letter-spacing: 90px;
			font: {
				size: em(138.59);
				weight: $black;
			}
			color: $c-blue;
			
			@media screen and ( max-width: $project + px ) {
				letter-spacing: get-vw(90);
				font-size: get-vw(138);
			}
		}
		
		.photo {
			float: right;
			width: 1111px;
			
			@media screen and ( max-width: $project + px ) {
				width: grid(1111, $project);
			}
		}
	}

	&--15 {
		.o-copy {
			@extend %abs;
			right: 0;
			top: 290px;
			width: 1111px;
			padding: 0 90px;
			letter-spacing: 2px;
			text-align: center;
			color: white;
			
			@media screen and ( max-width: $project + px ) {
				top: get-vw(290);
				width: grid(1111, $project);
				padding: 0 grid(90, $project);
			}
			
			p {
				margin-bottom: 40px;
				
				@media screen and ( max-width: $project + px ) {
					margin-bottom: get-vw(40);
				}
			}
			
			.black {
				text-transform: uppercase;
				font: {
					size: em(37.5);
					weight: $black;
				}
				color: #333636;
				
				@media screen and ( max-width: $project + px ) {
					font-size: get-vw(37);
				}
				
				&.big {
					font-size: em(41.67);
					
					@media screen and ( max-width: $project + px ) {
						font-size: get-vw(41);
					}
				}
			}
			
			.white {
				font: {
					size: em(28.24);
					weight: $extrabold;
				}
				color: white;
				
				@media screen and ( max-width: $project + px ) {
					font-size: get-vw(28);
				}
			}
		}
		
		.c-packet {
			@extend %abs;
			left: 0; bottom: 110px;
			
			@media screen and ( max-width: $project + px ) {
				bottom: get-vw(110);
			}
			
			
			&__content {
			    width: 780px;
				background-color: white;
				
				@media screen and ( max-width: $project + px ) {
					width: get-vw(780);
				}
			}			
			
			&__info {
				font-weight: $semibold;
			}
			
			&__prices {
				@extend %flex;
			    align-items: center;
			}
		}
	}
	
	&--16 {
		@extend %clear;
		margin-bottom: 25px;

		.o-copy {
			float: left;
			width: 724px;
			
			@media screen and ( max-width: $base + px ) {
				width: grid(724);
			}
		}

		.o-wrap {
			padding: {
				top: 170px;
				bottom: 60px;
			}
		}
		
		figure {
			float: right;
			width: 857px;
			
			@media screen and ( max-width: $base + px ) {
				width: grid(857);
			}
			
			img {
				margin-bottom: 30px;
				
				@media screen and ( max-width: $base + px ) {
					margin-bottom: get-vw-base(30);
				}
			}
			
			figcaption {
				font: {
					size: em(22.27);
					weight: $semibold;
				}
				color: #404141;
				
				@media screen and ( max-width: $base + px ) {
					font-size: get-vw-base(22);
				}
				
				strong {
					font-weight: $black;
					color: $c-blue;
				}
			}
		}
		
		.title {
			margin-bottom: 50px;
			text-transform: uppercase;
			letter-spacing: 6px;
			font: {
				size: em(74.92);
				weight: $black;
			}
			
			@media screen and ( max-width: $base + px ) {
				margin-bottom: get-vw-base(50);
				font-size: get-vw-base(75);
			}
		}
	}
	
	&--17 {
		.destination {
			@extend %rel;
			
			.typo {
				@extend %abs-y;
				left: 440px;
				width: 480px;
				
				@media screen and ( max-width: $base + px ) {
					left: get-vw-base(440);
					width: grid(480);
				}
			}
			
			.info {
				@extend %abs-y;
				right: 190px;
				width: 430px;
				font: {
					size: em(32.69);
					weight: $bold;
				}
				color: white;
				
				@media screen and ( max-width: $base + px ) {
					right: get-vw-base(190);
					width: grid(430);
					font-size: get-vw-base(33);
				}
				
				strong {
					font-weight: $black;
				}
			}
		}

		.text {
			@extend %abs;
			font-weight: $semibold;
			
			strong {
				font-weight: $black;
				color: white;
			}

			&--1 {
				left: 180px;
				top: 170px;
				font-size: em(28.25);
				
				@media screen and ( max-width: $project + px ) {
					left: get-vw(180);
					top: get-vw(170);
					font-size: get-vw(28);
				}
			}
			
			&--2 {
				right: 180px;
				top: 380px;
				padding-right: 60px;
				font-size: em(28.25);
				
				@media screen and ( max-width: $project + px ) {
					right: get-vw(180);
					top: get-vw(380);
					font-size: get-vw(28);
				}
			}

			&--3 {
				left: 280px;
				bottom: 350px;
				font-size: em(30.83);
				
				@media screen and ( max-width: $project + px ) {
					left: get-vw(280);
					bottom: get-vw(350);
					font-size: get-vw(30.83);
				}
			}
		}
	}
	
	&--18 {
		.o-copy {
			@extend %abs;
			left: 190px;
			bottom: 150px;
			width: 725px;
			
			@media screen and ( max-width: $base + px ) {
				left: get-vw-base(190);
				bottom: get-vw-base(150);
				width: grid(725);
			}
		}
	}
	
	&--19 {
		.c-logo {
			margin-bottom: 60px;
			font-weight: $bold;
			color: white;
			
			img {
				@media screen and ( max-width: $project + px ) {
					width: get-vw(240);
				}
			}
			
			&__name {
				margin-bottom: 20px;
				font-size: 42.6px;
				letter-spacing: 8px;
				
				@media screen and ( max-width: $project + px ) {
					margin-bottom: get-vw(20);
					font-size: get-vw(43);
				}
			}
			
			&__subtitle {
				font-size: em(30.46);
				
				@media screen and ( max-width: $project + px ) {
					font-size: get-vw(30);
				}
			}
		}

		.o-copy {
			@extend %abs-y;
			left: 180px;
			width: 530px;
			padding-top: 10px;
			
			@media screen and ( max-width: $project + px ) {
				left: get-vw(180);
			}

			address {
				margin-bottom: 40px;
				letter-spacing: 8px;
				text-transform: uppercase;
				font: {
					size: em(21.73);
					weight: $bold;
				}
				color: white;

				@media screen and ( max-width: $base + px ) {
					margin-bottom: 40px;
					font-size: get-vw-base(22);
				}
			}
		}
		
		.contact {
			line-height: 1.4;
			color: $c-blue;
			
			p {
				letter-spacing: 6px;
			}

			.tel {
				font-size: em(27.23);
				
				@media screen and ( max-width: $base + px ) {
					font-size: get-vw-base(28);
				}
			}

			.email {
				font-size: em(24.78);
				
				@media screen and ( max-width: $base + px ) {
					font-size: get-vw-base(25);
				}
				
				span {
					color: white;
				}
			}
			
			font-weight: $black;
			letter-spacing: 4px;
			color: $c-blue;
		}
	}
}

.b-loaded {
	&.c-section--01 {
		.c-logo {
			transform: translateY(0);
		}
	}
	
	.o-copy {
		opacity: 1;
		
		&:not(.static) {
			transform: translate(0, 0);
			//filter: blur(0);
		}
	}
}
