// Fonts

$text:			'Raleway', sans-serif;


// Font weights

$light:				300;
$regular:			400;
$medium:			500;
$semibold:			600;
$bold:				700;
$extrabold:			800;
$black:				900;


// Default

$base-font-size:	15;
$base:				1660;
$project:			1920;

// Width



$tablet:				1024;
$tablet_portrait:		768;
$smartphone:			640;
$smartphone_portrait:	365;